<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Cool Website</title>
</head>
<body>
    <div id="home-background">
       <div id = 'sign-in-div'>
            <div id="content-div">
                <h2>Login</h2>
                <div class="input-group">
                   <div class="field-group">
                        <label for="username">Username:</label>
                        <input id='username' type="text">
                    </div>
                    
                    <div class="field-group">
                        <label for="password">Password:</label>
                        <input id='password' type="password">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>